# ------------------------------------------------------------------------------
# .gitignore - files and folders to ignore in Git
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# IDE / editor config files
# ------------------------------------------------------------------------------
.vscode/

# ------------------------------------------------------------------------------
# Python virtual environment directory
# ------------------------------------------------------------------------------
.venv/

# ------------------------------------------------------------------------------
# Jupyter notebook checkpoints
# ------------------------------------------------------------------------------
.ipynb_checkpoints/
